@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap");


@theme {
  /* Her tilføjes theme variable // tokens */
  --color-orange: #ed6811;
  --color-lightblue: #c2e2f9;
  --color-beige: #fffef4;
  --color-hoverblue: #eef8ff;
  --color-darkblue: #01395e;
  --color-outline: #ac4400;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }



  /* BRYGADA 1918 - Custom font classes */
  .brygada-regular {
    font-family: "Brygada 1918", serif;
    font-weight: 400;
    font-style: normal;
  }

  .brygada-medium {
    font-family: "Brygada 1918", serif;
    font-weight: 500;
    font-style: normal;
  }

  .brygada-semibold {
    font-family: "Brygada 1918", serif;
    font-weight: 600;
    font-style: normal;
  }

  .brygada-bold {
    font-family: "Brygada 1918", serif;
    font-weight: 700;
    font-style: normal;
  }

  .brygada-italic {
    font-family: "Brygada 1918", serif;
    font-weight: 400;
    font-style: italic;
  }

  .brygada-bolditalic {
    font-family: "Brygada 1918", serif;
    font-weight: 700;
    font-style: italic;
  }
 
  h2 {
    @apply text-orange text-4xl;
  }

  h3 {
    @apply text-darkblue text-3xl font-bold;
  }
  h4 {
    @apply text-xl text-darkblue  font-bold;
  }
  p {
    @apply text-xl text-darkblue;
  }
  li {
    @apply text-xl;
  }
}

@layer components {
}
@layer utilities {
}
