@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui" {
  themes: wine;
}

@plugin "daisyui/theme" {
  name: "wine";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(70% 0.01 56.259);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(44% 0.119 151.328);
  --color-primary: oklch(28% 0.066 53.813);
  --color-primary-content: oklch(98% 0.001 106.423);
  --color-secondary: oklch(45% 0.124 130.933);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(27% 0.046 192.524);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  /* Her tilføjes theme variable // tokens */
  --color-orange: #ed6811;
  --color-lightblue: #c2e2f9;
  --color-beige: #fffef4;
  --color-hoverblue: #eef8ff;
  --color-darkblue: #01395e;
  --color-outline: #ac4400;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  h2 {
    @apply text-orange text-4xl font-bold;
  }

  h3 {
    @apply text-darkblue text-3xl font-bold;
  }
  p {
    @apply text-xl text-darkblue;
  }
  li{
    @apply text-xl ;
  }
}

@layer components {
}
@layer utilities {
}
