---
// Button.astro
const { variant = "primary", size = "large" } = Astro.props;

const buttonStyling = "btn my-2  border-2 shadow-none brygada-regular";

const variantClasses = {
  primary:
    "bg-orange text-beige hover:bg-beige hover:text-orange rounded-xl border-outline",
  secondary:
    "bg-lightblue text-darkblue hover:bg-darkblue hover:text-lightblue border-darkblue rounded-xl",
};
const sizeClasses = {
  large: "px-13 p-6",
  medium: "p-4",
  small: "p-2",
};
---

<!-- Husk at importere CSS hvis nødvendigt -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}
  ><slot /></button
>

<!-- <div>
  <a
    href="/tilmeld"
    class="brygada-semibold bg-orange text-beige hover:bg-beige hover:text-orange border-2 px-4 py-2 rounded-xl border-outline transition"
  >
    TILMELD DIG
  </a>
</div> -->
