---

---

<footer class="footer sm:footer-horizontal bg-beige text-base-content p-10">
  <aside>
    <!-- Venstre side: Logo -->
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost text-xl">
        <img src="/logo.png" alt="Logo" class="h-20 w-auto" />
      </a>
    </div>
  </aside>

  <nav>
    <h5 class="text-orange font-bold">ADRESSE</h5>
    <h6 class="text-orange">
      Rosenørns Allé 29 <br />1970 Frederiksberg <br />Danmark
    </h6>
  </nav>
  <nav>
    <h5 class="text-orange font-bold">KONTAKT</h5>
    <h6 class="text-orange">
      Telefon: 7027 9007 <br /> Mandag til Fredag // Kl. 10.00-16.00 <br /> Mail:
      infohøjskolen.dk
    </h6>
  </nav>
  <div class="grid bg-orange">
    <div>
      <h6 class="text-white">HÖJSKOLENDK er medlem af Rejsegarantifonden</h6>
    </div>
    <div>
      <h6 class="text-white">
        Handelsbetingelser / Cookieplitik / Data- & Privalivspolitik
      </h6>
    </div>
    <div>
      <h6 class="text-white">Copyright © HÖJSKOLENDK 2022 • CVR 32491162</h6>
    </div>
  </div>
</footer>
