---

---

<footer class="footer sm:footer-horizontal bg-beige text-base-content p-10">
  <aside>
    <!-- Venstre side: Logo -->
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost text-xl">
        <img src="/logo.png" alt="Logo" class="h-20 w-auto" />
      </a>
    </div>
  </aside>

  <nav>
    <h6 class="text-orange footer-title">ADRESSE</h6>
    <p>Rosenørns Allé 29 <br />1970 Frederiksberg <br />Danmark</p>
  </nav>
  <nav>
    <h6 class="footer-title">KONTAKT</h6>
  </nav>
  <div class="grid grid-cols-2 bg-orange">
    <p>ss</p>
  </div>
</footer>
