---

---

<footer class="bg-beige text-base-content">
  <!-- Øverste del af footeren -->
  <div class="footer sm:footer-horizontal p-10">
    <aside>
      <!-- Venstre side: Logo -->
      <div class="navbar-start">
        <a href="/" class="btn btn-ghost text-xl">
          <img src="/logo.png" alt="Logo" class="h-20 w-auto" />
        </a>
      </div>
    </aside>

    <nav>
      <h5 class="text-orange font-bold">ADRESSE</h5>
      <h6 class="text-orange">
        Rosenørns Allé 29 <br />1970 Frederiksberg <br />Danmark
      </h6>
      <div class="mt-3">
        <img src="/fb.svg" alt="Facebook og Instagram" class="h-6" />
      </div>
    </nav>
    <nav>
      <h5 class="text-orange font-bold">KONTAKT</h5>
      <h6 class="text-orange">
        Telefon: 7027 9007 <br /> Mandag til Fredag // Kl. 10.00-16.00 <br /> Mail:
        infohøjskolen.dk
      </h6>
    </nav>
  </div>

  <!-- Nederste del -->
  <div class="bg-orange px-6 py-4 text-white text-sm">
    <div
      class="flex flex-wrap justify-center gap-x-6 text-center md:justify-between md:text-left"
    >
      <div>HÖJSKOLENDK er medlem af Rejsegarantifonden</div>
      <div>Handelsbetingelser / Cookiepolitik / Data- & Privatlivspolitik</div>
      <div>Copyright © HÖJSKOLENDK 2022 • CVR 32491162</div>
    </div>
  </div>
</footer>
