<div class="grid gap-6 max-w-md mx-auto p-6">
  <!-- Navn -->
  <div class="grid gap-1">
    <label class="font-semibold">Navn</label>
    <div class="grid">
      <input
        type="text"
        placeholder="Navn"
        class="bg-transparent p-3 border-2 border-orange rounded-xl focus:outline-none"
      />
    </div>
  </div>

  <!-- Email -->
  <div class="grid gap-1">
    <label class="font-semibold">Email</label>
    <div class="grid">
      <input
        type="email"
        placeholder="Email"
        class="bg-transparent p-3 border-2 border-orange rounded-xl focus:outline-none"
      />
    </div>
  </div>
  <div>
    <a
      href="/tilmeld"
      class="bg-lightblue text-beige font-semibold px-4 py-2 rounded-xl stroke-outline transition"
    >
      TILMELD DIG
    </a>
  </div>
</div>
